<div class="section-contact">
    <div class="wrapper contact">
        <div class="contact-left">
            <div class="contact-title">
            <h2>Contactame!</h2>
            </div>
            <form action="" class="contact-form">
                <input type="text" placeholder="Nombre">
                <input type="email" name="" id="" placeholder="Email">
                <textarea name="" id="" cols="30" rows="5" placeholder="Mensaje"></textarea>
                <button class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <div class="contact-right">
            <div class="social-profiles">
                <div class="linkedin">
                    <img src="../../../assets/images/linkedin2.png" alt="">
                    <a href="https://linkedin.com/in/joaquin-ferreiros">/jferreiros</a>
                </div>
                <div class="github">
                    <img src="../../../assets/images/github.svg" alt="">
                    <a href="https://github.com/jferreiros">/jferreiros</a>
                </div>
                <div class="email">
                    <img src="../../../assets/images/gmail.svg" alt="">
                    <a href="mailto:jferreiros.work@gmail.com">jferreiros.work@gmail.com</a>
                </div>
                <div class="phone">
                    <img src="../../../assets/images/whatsapp.png" alt="">
                    <a href="https://wa.me/34641161473">+34 6411 61473</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
