.section-contact {
    background-color: #f4f4f4;
}

.wrapper {    
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem;
}

.section-contact {
    
}

.contact {
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-left {
    grid-column: span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    align-items: left;
    justify-content: center;
    text-align: left;
    
}

.contact-title {
    grid-row: span 1;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    width: 80%;
    align-items: left;
    margin-top: 3rem;
    display: none;
}

.contact-form input {
    background: none;
    border: none;
    border: 0.2rem solid var(--primary-500);
    padding: 1rem;
    font-size: 1.4rem;

}

.contact-form textarea {
    background: none;
    border: none;
    border: 0.2rem solid var(--primary-500);
    padding: 1rem;
    resize: none;
    font-size: 1.4rem;
}

.contact-right {
    background-color: var(--primary-500);
    
    .social-profiles {
        display: grid;
        // grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        padding: 4rem;
        gap: 2.4rem;
        height: 100%;
    }

    .social-profiles div {
        border-radius: 0.8rem;
        border: 0.2rem solid white;
        background-color: white;
        color: var(--neutral-800);
        grid-column: span 1;
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        gap: 1.2rem;
        padding: 1.2rem 2.4rem 1.2rem 4.8rem;    
            
        a {
        font-size: 1.4rem;
        font-weight: 600;
        }
    }

    .social-profiles img {
        width: 4rem;
    }
}



@media screen and (max-width: 1150px) {

}

@media screen and (max-width: 750px) {
    .contact {
        grid-template-columns: 100%;
        width: 100%;


    }

    .contact-left {
        width: 100%;
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 450px) {


    .contact-right {
        width: 100%;

        .social-profiles {
            padding: 2.4rem;
            display: flex;
            flex-direction: column;
        }

        .social-profiles div {
            width: 100%;
            padding: 1.2rem;
            flex-direction: column;
        }
    }
}