<div class="section-skills">
    <div class="section-title">
        <h2>Skills</h2>
        <p>Algunas de las tecnologías que he utilizado y aprendido</p>
    </div>
    <div class="wrapper skills">            
        <div class="skills-view">
            <img src="../../../assets/images/illustrator.png" alt="" class="skill-item">
            <img src="../../../assets/images/figma.png" alt="" class="skill-item">
            <img src="../../../assets/images/html.png" alt="" class="skill-item">
            <img src="../../../assets/images/css.png" alt="" class="skill-item">
            <img src="../../../assets/images/sass.png" alt="" class="skill-item">
            <img src="../../../assets/images/bootstrap.png" alt="" class="skill-item">
            <img src="../../../assets/images/javascript.png" alt="" class="skill-item">
            <img src="../../../assets/images/react.png" alt="" class="skill-item">
            <img src="../../../assets/images/angular.png" alt="" class="skill-item">
            <img src="../../../assets/images/java.png" alt="" class="skill-item">
            <img src="../../../assets/images/spring.png" alt="" class="skill-item">
            <img src="../../../assets/images/mongodb.png" alt="" class="skill-item">
            <img src="../../../assets/images/express.png" alt="" class="skill-item">
            <img src="../../../assets/images/nodejs.png" alt="" class="skill-item">
            <img src="../../../assets/images/mysql.png" alt="" class="skill-item">
        </div>
    </div>
</div>