.project-card {
    width: 100%;
    color: var(--neutral-800);
    background-color: var(--neutral-200) ;
    border-radius: 0.5rem;
    overflow: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
 
.section-title {
    height: 30vh;
}

.wrapper {    
    min-height: 90vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem;
}

.project-text-box {
    padding: 0.5rem 1rem 1rem;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 0.6rem;
}

.project-date {
    font-size: 1.6rem;
    font-weight: 500;
}

.project-title {
    margin-top: 0;
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--primary-500);
}

.project-subject {
    margin: 0;
    font-size: 3.6rem;
    font-weight: 800;
}

.react {
    background-color: #61dbfb !important;
}
.angular {
    background-color: #c3002f !important;
}
.java {
    background-color: #f22e2f !important;
}
.javascript {
    background-color: #e4a126 !important;
}
.html {
    background-color: #e44d26 !important;
}
.css {
    background-color: #0170ba !important;
}
.nodejs {
    background-color: #4a8f46 !important;
}
.bootstrap {
    background-color: #7b08f7 !important;
}
.project-tech {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

}

.tech-categorie {
    background-color: var(--secondary-500);
    padding: 0.1rem 0.7rem;
    border-radius: 0.3rem;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
}

.project-description {
    font-size: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.project-btn {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.project-btn .btn {
    padding: 0.2rem 0.5rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.btn-github {
    background-color: white;
    color: var(--primary-500);
    border: 1px solid var(--primary-500);    
}

.btn img {
    width: 1rem;
}

.btn-live-preview {
    background-color: var(--primary-500);
    color: white;
    border: 1px solid var(--primary-500);
}

.project-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
    justify-content: center;
}