<div *ngIf="project" class="card project-card">
    <!-- <div *ngIf="project.img" class="section-title" style="background-image: url('assets/images/projects/{{project.img[0]}}');"></div> -->
    <div class="wrapper card-text-box">
        <div class="project-date">
            <span class="project-date">{{ project.dateStart }}</span>
            <span class="project-date" *ngIf="project.dateEnd"> - {{ project.dateEnd }}</span>
        </div>
        <div class="project-text">
            <a class="project-subject" routerLink="/projects/{{project.id}}">{{ project.subject }}</a><br>
            <span class="project-title">{{ project.title }}</span>
        </div>
        <ul class="project-tech">
            <li *ngFor="let tag of project.tags" class="tech-categorie {{tag}}">{{ tag }}</li>
        </ul>
        <p class="project-description">{{ project.description }}</p>
        <!-- <p *ngFor="let p of project.description" class="card-description">{{ p }}</p> -->
        <div class="project-btn">
            <a *ngIf="project.github" href="{{project.github}}" class="btn btn-github"><img src="../../../assets/images/github.svg" alt="">Git-Hub</a>
            <a *ngIf="project.deploy" href="{{project.deploy}}" class="btn btn-live-preview"><img src="../../../assets/images/live.svg" alt=""> Live View</a>
        </div>
        <div class="project-img" *ngIf="project.img">
            <img src="assets/images/projects/{{img}}" alt="" *ngFor="let img of project.img">
        </div>
        
    </div>
</div>