.section-hero {
    background-color: var(--primary-500);
    color: white;
}

.wrapper {    
    min-height: 90vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        background-color: #fff;
        color: var(--primary-500);
        font-size: 4rem;
    }
}

.hero-text button {
    align-self: flex-start;
    cursor: pointer;
}

.photo {
    border-radius: 50%;
    overflow: hidden;
    width: 40rem;
    height: 40rem;
    // display: flex;
    justify-self: right;


    .circle-one {
        background-color: #fff;
        // display: block;
        position: relative;
        top: -25rem;
        right: -30rem;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        z-index: 0;
    }

    .picture {
        z-index: 1;
        width: 40rem;
        height: 40rem;
        position: relative;

    }

    .circle-two {
        background-color: #fff;
        // display: block;
        position: relative;
        top: -45rem;
        left: -10rem;
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        z-index: 0;
    }
    .circle-three {
        background-color: #fff;
        // display: block;
        position: relative;
        top: -82rem;
        left: 5rem;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        z-index: 0;
    }
}