<section class="section-hero">
    <div class="hero wrapper">
        <div class="hero-text">
            <h1>Hola, soy Joaquin, <span>Desarrollador Web</span>  <br> Full Stack</h1>
            <p></p>
            <button class="btn btn-secondary" routerLink="/about-me">Sobre Mi</button>
        </div>
        <div class="photo">
            <img class="picture" src="../../../assets/images/fotoperfil.png" alt="">
            <div class="circle-one"></div>
            <div class="circle-two"></div>
            <div class="circle-three"></div>
        </div>        
    </div>
</section>
