<div class="section-about-me">
    <div class="section-title">
        <h2>Sobre mi</h2>
    </div>
    <div class="wrapper aboutme">
        <p>
            Hola 👋! Soy Joaquin, y soy un Desarrollador Web Full Stack Junior enfocado y dedicado 👨‍💻. Me apasiona resolver problemas, aprender nuevas tecnologías y mejorar los conocimientos que he aprendido.
        </p>
        <p>
            Mis experiencias laborales han sido principalmente como administrativo, en el sector inmobiliario y de atención al público. Trabajos en los que he desarrollado ampliamente las aptitudes de trabajo en equipo y organización.
        </p>
        <p>            
            Mi primer sitio web lo realice en 2012 con 16 años, y desde alli he ido realizando webs en HTML, CSS, WORDPRESS, ELEMENTOR, SHOPIFY para distintos clientes y para proyectos propios.
        </p>
        <p>            
            Tengo un nivel avanzado de Ingles (C1) y además estoy interesado en aprender nuevos lenguajes como Python y Solidity. Aparte de eso, me fascina el desarrollo en Blockchain, las Startups y el mercado de valores 📈.
        </p>
        <a class="btn btn-secondary" href="../../../assets/Joaquin_Ferreiros_CV_2022_Full_Stack.pdf" download="">Descargar CV</a>
        
    </div>
</div>
