<div class="header">
    <ul class="navbar-mobile">
        <a routerLink="home" class="logo" >Joaquin<br>Ferreiros</a>
        <div class="menu">
            <a routerLink="about-me" >Sobre Mi</a>
            <a routerLink="skills" >Skills</a>
            <a routerLink="projects" >Proyectos</a>
            <a routerLink="home" >Experiencia</a>
            <a routerLink="contact" >Contacto</a>
        </div>        
        <a class="btn btn-secondary" href="../../../assets/Joaquin_Ferreiros_CV_Full_Stack.pdf" download="">Descargar CV</a>
    </ul>
</div>
