<div class="header">
    <ul class="navbar">
        <li class="nav-item"><a routerLink="home" >Inicio</a></li>
        <li class="nav-item"><a routerLink="about-me" >Sobre Mi</a></li>
        <li class="nav-item"><a routerLink="skills" >Skills</a></li>
        <li class="nav-item"><a routerLink="projects" >Proyectos</a></li>
        <li class="nav-item"><a routerLink="home" >Experiencia</a></li>
        <li class="nav-item"><a routerLink="contact" >Contacto</a></li>
        <button class="btn btn-secondary">Descargar CV</button>
    </ul>
</div>